<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  
	<typeAliases>
		<typeAlias type="com.three.psyco.model.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.three.psyco.model.dto.ShopDTO" alias="ShopDTO"/>
		<typeAlias type="com.three.psyco.model.dto.CommunityDTO" alias="CommunityDTO"/>
		<typeAlias type="com.three.psyco.model.dto.TestDTO" alias="TestDTO"/>
	</typeAliases>
	
	<mappers>

		<mapper resource="/sql/superSQL.xml"/>
	</mappers>
  	
  </configuration>