<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  
	<typeAliases>
		<typeAlias type="com.three.psyco.model.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.three.psyco.model.dto.ShopDTO" alias="ShopDTO"/>
		<typeAlias type="com.three.psyco.model.dto.CommunityDTO" alias="CommunityDTO"/>
		<typeAlias type="com.three.psyco.model.dto.MemberShopDTO" alias="MemberShopDTO"/>
		<typeAlias type="com.three.psyco.model.dto.MemberShopMenuDTO" alias="MemberMenuDTO"/>
		<typeAlias type="com.three.psyco.model.dto.MidDTO" alias="MidDTO"/>
		<typeAlias type="com.three.psyco.model.dto.TestDTO" alias="TestDTO"/>

		<typeAlias type="com.three.psyco.model.dto.CommunityDTO" alias="communityDTO"/>

		<typeAlias type="com.three.psyco.model.dto.CommunityDTO" alias="CommunityDTO"/>


	</typeAliases>
	
	<mappers>
		<mapper resource="/sql/superSQL.xml"/>
		<mapper resource="/sql/memberShopSQL.xml"/>
		<mapper resource="/sql/memberMenuSQL.xml"/>
		<mapper resource="/sql/testSQL.xml"/>

		<mapper resource="/sql/communitySQL.xml"/>

		<mapper resource="/sql/memberSQL.xml"/>




	</mappers>
  	
</configuration>