@charset "UTF-8";
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #dbdbdb;
  --color-pink: #f1918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: cornflowerblue;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
  /* Annimation */
  --animation-duration: 300ms;
}

/* 공통 세팅  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding-left: 0;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* header  로그인  */
header {
  height: 100px;
  border: solid 1px red;
}

#top {
  height: 30px;
  background-color: #e2e2e2;
}

.login_menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.login_menu li {
  padding: 8px 24px;
}

.shop_menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.shop_menu li {
  margin: 0 10px;
  padding: 8px 20px;
  border: 1px solid tomato;
  background-color: tomato;
  border-radius: 10px;
}

.shop_menu li a {
  color: var(--color-white);
  font-weight: 500;
  font-size: var(--font-small);
}
/* header  로고  */
#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

/* 메인메뉴 (진행중 경매 ,완료된 경매 ,랭킹, 커뮤니티 ) */
#main_menu {
  height: 70px;
  background: var(--color-dark-grey);
}

#main_menu ul {
  display: flex;
  padding-top: 10px;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
}

#main_menu li {
  display: flex;
  margin: auto 0;
  padding: 0 32px;
}

#main_menu h2 {
  color: var(--color-light-white);
  font-weight: var(--font-regular);
}

/* section  (콘텐츠 레이아웃 입니다. )*/
section {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

#buy_info {
  display: flex;
  width: 1000px;
}

/* 콘텐츠1  배너화면    */

#banner_section {
  flex-direction: column;
}

#banner {
  display: flex;
  width: 100%;
  height: 300px;

  border-bottom: solid 1px var(--color-dark-white);
}

/* 콘텐츠2  신메뉴와 랭킹     */

#new__box {
  display: flex;
  width: 100%;
  height: 240px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.new_content {
  display: flex;
  width: 70%;
  border: solid 1px blue;
  background-color: var(--color-light-white);
}

.rank_content {
  width: 30%;
  display: flex;
  border: solid 1px yellow;
}

/* 콘첸츠3 역경매 카테고리 */
#category {
  display: flex;
  justify-content: flex-end;
}

#category ul {
  display: flex;
  list-style: none;
  padding-top: 10px;
  padding-right: 150px;
}
#category li {
  padding: 12px 28px;
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-grey);
}

/* 콘텐츠3  역경매 카드   */

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 450px;
  margin: 20px 0;
  border: solid 1px green;
}

.card ~ .card {
  margin-left: 20px;
}

.card:nth-child(4n + 1) {
  margin-left: 0;
}

.card_img {
  width: 100%;
  max-width: 420px;
  height: 218px;
}

.card_content {
  padding: 4px 8px;
}
.card_content h2 {
  font-weight: var(--weight-semi-bold);
}
.card_content h3 {
  color: var(--color-dark-grey);
}

.card_content ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.card_content li {
  padding-top: 5px;
  color: var(--color-dark-grey);
}

.sale {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.sale li {
  color: red;
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  padding-right: 4px;
}

.price {
  display: flex;
}

.price li {
  font-size: 24px;
  font-weight: var(--weight-bold);
  color: black;
}

/*  콘텐츠1. 왼쪽 (사진, 지도)*/
.buy_info {
  width: 50%;
  display: flex;
}

.buy_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 1000px;

  border-right: solid 1px red;
}
.buy_img .card_img {
  margin: 0 auto;
  width: 450px;
  height: 450px;
}
.map {
  background-color: var(--color-black);
  margin: 0 auto;
  width: 450px;
  height: 450px;
}

/*  콘텐츠2. 오른쪽 (상품 정보)*/
.buy_content {
  flex-basis: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.buy_title {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--color-black);
}
.shop_title {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.shop_title ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.shop_title li {
  font-size: var(--font-small);
  color: var(--color-dark-grey);
}

.buy_detail {
  padding: 20px 30px;
  background-color: var(--color-light-white);
  height: 250px;
}
.buy_detail ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 15px 0;
}
.buy_detail li {
  color: var(--color-grey);
  font-weight: 500;
  font-size: 18px;
}

.buy_price {
  padding: 30px;
}
.buy_price ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.buy_price li {
  font-size: var(--font-medium);
  font-weight: 400;
}
.nprice {
  color: var(--color-white);
}
.price_percent {
  padding: 8px 0;
  font-weight: var(--weight-semi-bold);
  color: red;
}
.now_price li {
  font-weight: 600;
  margin-bottom: 10px;
}

.buy_btn {
  margin: auto;
  width: 70%;
  line-height: 60px;
  border-style: none;
  background-color: var(--color-grey);
}
.buy_btn h2 {
  color: var(--color-light-white);
}

.buy_btn:hover {
  background-color: var(--color-light-grey);
}
section .buy_info {
  display: flex;
  margin: 0 auto;
  width: 98%;
  align-items: center;
  border: solid 1px red;
}

/* 가게 정보 */

.shop_info {
  display: flex;
  flex-direction: column;
  width: 1000px;
}
/* 가게 정보 */
.items_info {
  display: flex;
  justify-content: center;
}

.ing_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  border: 1px solid var(--color-black);
}

.ing_info h2 {
  color: var(--color-dark-grey);
  font-size: var(--font-medium);
}
.ing_info img {
  border: 1px solid red;
  width: 100px;
  height: 100px;
  margin: 5px 5px;
}

.shop_comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 12px;
}

.shop_comment h2 {
  color: var(--color-dark-grey);
}
/* 콘텐츠 텝스 정보*/

.shopCotent_btn {
  display: flex;
  flex-direction: column;
}
.tabs {
  display: flex;
  justify-content: center;
}
.tabs .tab {
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
  width: 320px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  color: rgb(20, 19, 19);
  position: relative;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid black;
}
.content {
  display: flex;
  margin: 0 auto;
  border: 1px solid black;
  width: 960px;
}
.items {
  width: 300px;
  display: none;
  padding: 10px;
  background-color: #fff;
  position: relative;
}
.items::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 318px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}
.items:nth-child(2)::before {
  left: 320px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}
.items:nth-child(3)::before {
  left: 640px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}
.items.active {
  display: inline-block;
  width: 100%l;
}

#tab1 img {
  width: 150px;
  height: 150px;
  border-radius: 3%;
  margin-right: 40px;
}

.shopinfo_info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shopinfo_info p {
  color: red;
  font-weight: var(--weight-semi-bold);
}

#tab1 {
  width: 100%;
  padding: 28px 0;
  border-bottom: 1px solid var(--color-dark-grey);
}
#tab2 {
  width: 100%;
  padding: 28px 0;
  border: 1px solid blue;
}

#tab3 {
  width: 100%;
  padding: 28px 0;
  border: 1px solid gold;
}

.tab1_item {
  display: flex;
  flex-direction: row;
  padding: 12px 18px;
  border-bottom: 1px solid var(--color-dark-grey);
}

.tab2_item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 12px 18px;
}

.tab2_item ul {
  list-style: none;
  display: flex;
}
.tab2_item li {
  padding-right: 30px;
}

#tab2 img {
  width: 200px;
  height: 200px;
  border-radius: 3%;
  margin-right: 40px;
}

.tab3_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12px 40px;
  align-items: center;
}
/* 공용 */
table {
  border-collapse: collapse;
  width: 600px;
}
td,
th {
  text-align: center;
  border-bottom: 0.5px solid var(--color-dark-grey);
  padding: 5px;
}

th {
  background-color: var(--color-light-white);
  font-size: var(--font-small);
}

/* footer */

/* footer */

footer {
  border-top: 100px;
  padding-top: 140px;
  background-color: #ffffff;
}

.footer_top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-light-white);
}
.foot_top {
  display: flex;
  justify-content: space-around;
}
.foot_top ul li {
  list-style: none;
}
.footer_top p {
  color: var(--color-dark-grey);
  font-size: 14px;
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 100px;
  list-style: none;
}
.footer_bottom p {
  color: var(--color-light-grey);
  font-size: 14px;
}

.foot_bottom_box {
  line-height: 100%;
  background-color: none;
  border: 0.5px solid var(--color-light-white);
  width: 180px;
  height: 40px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--color-light-grey);
}

/* 공용  */

/* form 공용 */

.form_box {
  margin: 0 auto;
  width: 800px;
  height: 100vh;
  border: 2px solid var(--color-light-white);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 600px;
  height: 100vh;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.form_title {
  display: inline;
  color: var(--color-dark-grey);
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
}
.form_input {
  width: 300px;
  height: 25px;
  border: 1px solid var(--color-light-grey);
  border-radius: 3px;
}

.form_tab {
  padding: 20px 0;
  border-bottom: 0.5px solid var(--color-dark-white);
}
.form_btn {
  width: 120px;

  border-style: none;
  border-radius: 3px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  padding: 5px;
  color: var(--color-light-white);
}

.select_tab {
  width: 230px;
  border-style: none;
  border-radius: 3px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  padding: 5px;
  color: var(--color-white);
}

/* member */

.form_input2 {
  width: 180px;
  height: 25px;
  border: 1px solid var(--color-light-grey);
  border-radius: 3px;
}

.form_btn_box {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.form_btn_box li {
  padding: 30px;
}
.form_btn2 {
  width: 120px;
  margin: 10 auto;
  border-style: none;
  border-radius: 3px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  padding: 5px 30px;
  color: var(--color-white);
}

.admin_btn {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.admin_btn li {
  list-style: none;
  border: 1px solid var(--color-dark-white);
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-size: 20px;
  background-color: var(--color-light-white);
  margin: 10px;
}


.admin_btn2 {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.admin_btn2 li {
  list-style: none;
  border: 1px solid #0e2652;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #0e2652;
 
  margin: 10px;
}

.admin_btn2 li a {
	
 color : white;
}

.admin_content2 {
  border: 1px solid #0e2652;

  display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
   margin-top: 10px;
}


.admin_content {
  border: 1px solid var(--color-dark-blue);

  display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
   margin-top: 10px;
}

.admin_delete {
  color: red;
  font-weight: 500;
}

.paging{
	padding : 20px;
}
/* 테이블 */

/* 테이블 공용 */
table {
  border-collapse: collapse;
  width: 600px;
  padding: 10px;
}

.table{
	margin-top : 20px;
}
td,
th {
  text-align: center;
  border-bottom: 0.5px solid var(--color-dark-grey);
  padding: 5px;
}

th {
  background-color: var(--color-light-white);
  font-size: var(--font-small);
}

.admint_btn2 {
  display: flex;
  justify-content: space-around;
}

.admin_dtn2_content {
  width: 80px;
  height: 30px;
  background-color: var(--color-light-grey);
  color: var(--color-white);
  font-size: 12px;
  border: none;
  border-radius: 4px;
}

.ssss{
	display : flex;
	 justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */
