 @charset "UTF-8";


:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #dbdbdb;
    --color-pink: #f1918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-dark-blue: #0e2652;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Annimation */
    --animation-duration: 300ms;
  }

/* 공통 세팅  */

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    cursor: default;
}

a {
    text-decoration: none;
    color: black;
  }

ul{
    padding-left: 0;
}

  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }
  

/* 레이아웃 사이즈 */
/* header  로그인  */
header {
  height: 120px;

}

#top {
	
   display: flex;
  justify-content: flex-end;
  align-items: center;
   height: 50px;

}

.login_menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.login_menu li  {
  margin: 0 10px;
  padding: 8px 20px;
  color : var(--color-dark-grey);
  font-weight : 550;

}
#main_menu {
    height: 70px;
    border-top :solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;
}

section {
    margin: auto;
    width: 1700px;
    
 
}

#side_menu{
    background-color: #fff7d1;
    display: flex;
    justify-content: center;
     
    
}



.mypage_menu{
    padding: 0 16px;
}

.mypage_menu h3{
   
    font-weight: var(--weight-semi-bold);
    padding: 0 32px;
}
.mypage_menu_list{
    padding: 8px 16px;
    list-style: none;
}

.mypage_menu_list li{
    padding : 4px;
}


#content_box {
    width: 1700px;
 
    margin: 0 auto;
    
}

footer {
    height: 200px;
 
    background-color: var(--color-dark-white);
}

/* 레이아웃  효과  */


/* header */



#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:10px ;
}


/* main menu */

#main_menu{
    background: var(--color-dark-grey)
}

.main_menu_ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px; 
}

.main_menu_ul li{
    padding: 0 32px;
   
    
  
}
.main_menu_ul h2{
    color: var(--color-light-white);
    font-weight: var(--font-regular);
}

/* 검색 배너 & 신메뉴 , 랭킹 */

#new__box{
    display: flex;
}

.new_content{
    
    flex-basis: 70%;
    border-right: solid 1px black;
    background-color: var(--color-light-white);
}



/* 유저 마이페이지 */
/* my page space  */
.myPage {
  
  width: 100%;
  height: 100%;
  
}

.myPage_content {
  margin: 10px auto;
  display: flex;

  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  width: 800px;
  height: 100vh;

}

/* tabs  */
.myPage_main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.tabs {
  display: flex;
  justify-content: center;
}
.tabs .tab {
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
  width: 400px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  color: rgb(20, 19, 19);
  position: relative;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border: 1px solid black;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
  height: 100%;
}

.items {
  display: flex;
  justify-content: center;

  width: 800px;
  height: 100%;
  display: none;
  padding: 10px;
  background-color: #fff;
  position: relative;
}
.items::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 266px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}
.items:nth-child(2)::before {
  left: 268px;
  width: 265px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}
.items:nth-child(3)::before {
  left: 535px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}

.items.active {
  display: inline-block;
}

/* 전체 구매내역   */

.reg {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 8px 0;
  padding: 24px 12px;
  background-color: var(--color-light-white);
  border: solid 1px var(--color-dark-white);
}

.reg li {
  font-size: 24px;
}
.reg a {
  color: var(--color-dark-blue);
  font-size: var(--font-small);
}

.myPage_item_info {
  border: solid 1px var(--color-dark-white);
  display: flex;
  align-items: center;
  padding: 8px 12px;
  justify-content :space-around;
}
.myPage_item_info img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
}
.myPage_item_info ul {
  list-style: none;
  display: flex;
  flex-direction: column;

}
.myPage_item_info li {
  padding: 7px 0;
  color: red;
  font-size: 20px;
  font-weight: 350;
}
.myPage_item_info li a {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-dark-grey);
}

.myPage_item_info li span {
  color: var(--color-black);
  font-weight: 500;
  font-size: var(--font-small);
}

.myPage_item_info button {
 
  padding: 8px 20px;
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-white);
}
.myPage_item_info button a {
  color: var(--color-dark-blue);
  font-size: 14px;
  font-weight: 600;
}


/* 낵가 쓴 후기   */
.userpage_tab2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12px 40px;
  align-items: center;
}

/* 테이블 공용 */
table {
  border-collapse: collapse;
  width: 600px;
}
td,
th {
  text-align: center;
  border-bottom: 0.5px solid var(--color-dark-grey);
  padding: 5px;
}

th {
  background-color: var(--color-light-white);
  font-size: var(--font-small);
}

/* 마이페이지 */
/* 마이페이지 타이틀 */
.myPage_mainTitle {
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  padding: 10px 0;
}
.myPage_mainTitle h1 {
  padding: 20px 10px;
  font-size: 45px;
  font-weight: 500;
  margin: 10px 0;
}
.myPage_mainTitle span {
  line-height: 300%;
  padding: 0 10px;
}

.myPage_mainTitle h2 {
  font-size: 35px;
  font-weight: 500;
}
.myPage_userTitle {
  display: flex;

  width: 800px;
  line-height: 100%;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid var(--color-dark-white);
  border-top: 2px solid var(--color-dark-blue);
}
.myPage_userTitle ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--color-dark-white);
  padding: 10px 40px;
}
.myPage_userTitle li {
  font-size: 20px;
}


  


/* 찜 리스트 */
.zzim_reg {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px 0;
  padding: 18px 12px;
  background-color: var(--color-light-white);
  border: solid 1px var(--color-dark-white);
}
.zzim_reg a {
  display: inline-block;
  color: var(--color-black);
  font-weight: 500;
  font-size: var(--font-micro);
  padding: 4px 4px;
  border: 1px solid var(--color-light-grey);
  background-color: var(--color-white);
  border-radius: 4px;
  margin-left: 30px;

}



/* form 공용 */

.form_box {
  margin: 0 auto;
  width: 800px;
  height: 100vh;
  border: 2px solid var(--color-light-white);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form_box3 {
  margin: 0 auto;
  width: 800px;
  height: 500px;
  border: 2px solid var(--color-light-white);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 600px;
  height: 100vh;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.form_title {
  display: inline;
  color: var(--color-dark-grey);
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
}
.form_input {
  width: 300px;
  height: 25px;
  border: 1px solid var(--color-light-grey);
  border-radius: 3px;
}

.form_tab {
  padding: 20px 0;
 
}
.form_btn {
  width: 120px;

  border-style: none;
  border-radius: 3px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  padding: 5px;
  color: var(--color-light-white);
  margin : 15px;
}
.checkbox2{
	width : 12px;
	height: 12px;
	margin : 3px  8px;
}

.form_newBox_content3{
	    width: 300px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
/* 마이페이지 사이드 메뉴 기능 */

ul > li {
  list-style: none;
}

.hnav {
  height: 300px;
}
#side_menu2 {
  margin: 40px 0;
  margin-bottom: 70px;
  background: linear-gradient(white 50px, rgba(255, 255, 255, 0.5) 50px, rgba(255, 255, 255, 0.5));
  height: 20px;
}
.mypage_menu2 {
  display: flex;


  align-content: center;
  font-size: 20px;
  font-weight: 600;
}

.mypage_menu2 ul li {
  padding: 0 30px;
}

.mypage_menu2 ul ul {
  display: none;
}
.mypage_menu2 li:hover > ul {
  display: block;
}


/* footer */

footer {
  border-top: 100px;
  padding-top: 140px;
  background-color: #ffffff;
}

.footer_top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-light-white);
}
.foot_top {
  display: flex;
  justify-content: space-around;
}
.foot_top ul li {
  list-style: none;
}
.footer_top p {
  color: var(--color-dark-grey);
  font-size: 14px;
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 100px;
  list-style: none;
}
.footer_bottom p {
  color: var(--color-light-grey);
  font-size: 14px;
}

.foot_bottom_box {
  line-height: 100%;
  background-color: none;
  border: 0.5px solid var(--color-light-white);
  width: 180px;
  height: 40px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--color-light-grey);
}


/*가게 마이페이지 */

.myPage_item_info_btnList {
  display: flex;
  flex-direction: row;
}

.myPage_item_info_btnList button {
  margin-left: 310px;
  padding: 8px 20px;
  border: 1px solid tomato;
  background-color: var(--color-white);
}

.myPage_item_info button a {
  color: tomato;
  font-size: 14px;
  font-weight: 600;
}

.myPage_shopTitle {
  display: flex;

  width: 800px;
  line-height: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  border: 1px solid var(--color-dark-white);
  border-top: 3px solid tomato;
}


/* 진행중인 경매 */


.main_shopItem {
  display: flex;
  flex-direction: column;
}
.tabs_shopItem {
  display: flex;
  justify-content: center;
}
.tabs_shopItem .tab_shopItem {
  font-size: 1rem;
  text-align: center;
  line-height: 30px;
  width: 270px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  color: rgb(20, 19, 19);
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid var(--color-dark-white);
}
.content_shopItem {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid var(--color-dark-white);
  width: 1400px;
  height: 100%;
}
.items2 {
  width: 1400px;
  height: 100%;
  display: none;
  padding: 60px;
  background-color: var(--color-white);
  position: relative;
}
.items2::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 295px;
  width: 268px;
  height: 4px;
  background-color: rgb(255, 255, 255);
}
.items2:nth-child(2)::before {
  left: 564px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}
.items2:nth-child(3)::before {
  left: 835px;
  top: -4px;
  background-color: rgb(255, 255, 255);
}
.items2.active {
  display: inline-block;
}

.content_shopItem_listBox {
  width: 220px;
  height: 380px;
  border: 1px solid var(--color-dark-white);
  margin: 8px 12px;
}
.content_shopItem_listBox ul {
  padding: 4px 8px;
}
.content_shopItem_listBox h3 {
  font-size: 20px;
  font-weight: 500;
  border-bottom: 0.5px solid var(--color-light-white);
}
.shopItem_img img {
  width: 100%;
  height: 220px;
  border-bottom: 1px solid var(--color-dark-grey);
}

.content_shopItem_btn {
  display: flex;
  justify-content: space-around;
  border: 10px 0;
}

.content_shopItem_btn li {
  background-color: var(--color-dark-grey);
  padding: 4px 14px;
  border-radius: 4px;
}
.content_shopItem_btn li a {
  color: var(--color-white);
}

#tab11 {
  border: 1px solid var(--color-light-grey);
}

#tab12 {
  border: 1px solid var(--color-light-grey);
}

#tab13 {
  border: 1px solid var(--color-light-grey);
}

.ltem2_shopItembox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.tabb11_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* form 공용 */

/* form 공용 */

.form_box {
  margin: 0 auto;
  width: 800px;
  height: 100vh;
  border: 2px solid var(--color-light-white);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 600px;
  height: 100vh;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.form_title {
  display: inline;
  color: var(--color-dark-grey);
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
}
.form_input {
  width: 300px;
  height: 25px;
  border: 1px solid var(--color-light-grey);
  border-radius: 3px;
}

.form_tab {
  padding: 20px 0;

}
.form_btn {
  width: 120px;

  border-style: none;
  border-radius: 3px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  padding: 5px;
  color: var(--color-light-white);
}

.select_tab {
  width: 230px;
  border-style: none;
  border-radius: 3px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  padding: 5px;
  color: var(--color-white);
}


/* member */

.form_input2 {
  width: 180px;
  height: 25px;
  border: 1px solid var(--color-light-grey);
  border-radius: 3px;
}

.form_btn_box {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.form_btn_box li {
  padding: 30px;
}
.form_btn2 {
  width: 120px;
  margin: 10 auto;
  border-style: none;
  border-radius: 3px;
  background-color: var(--color-light-grey);
  font-size: 20px;
  padding: 5px 30px;
  color: var(--color-white);
}

.shop_signup {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}


.shop_signup li {
  padding: 8px 10px;
  color: var( --color-dark-blue);
}
.shop_signup li a {
  font-weight: 550;
  padding: 0 15px;
  color : var( --color-light-grey);
}


.login_menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.login_menu li  {
  margin: 0 10px;
  padding: 8px 20px;
  color : var(--color-dark-grey);
  font-weight : 550;

}


.shop_menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.shop_menu li {
  margin: 0 10px;
  padding: 8px 20px;
  border: 1px solid var( --color-dark-blue);
  background-color:var( --color-dark-blue);
  border-radius: 5px;
}





.shop_menu li a {
  color: var(--color-white);
  font-weight: 500;
  font-size: var(--font-small);
}



.shop_menu2 {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.shop_menu2 li {
  margin: 0 10px;
  padding: 5px 16px;
  border: 1px solid var( --color-dark-blue);
  background-color:var( --color-dark-blue);
  border-radius: 5px;
}

.shop_menu2 li a {
  color: var(--color-white);
  font-weight: 500;
  font-size: 12px;
}


#tab5{
	border: 1px solid var(--color-light-grey);
    display: flex;
    /* justify-content: center; */
    margin: auto;
}

.myMenuList{

	display : flex;
	justify-content : center;
	margin : 100px;
	
}

.qq{
	display : flex;
}


/* 공용 */

.nContent {
  display: flex;
  justify-content: center;
}
.table_title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-dark-grey);
}
.table_title span {
  margin: auto 0;
  color: var(--color-light-grey);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 13px;
}

.table_title h3 {
  font-weight: 650;
  font-size: 18px;
}
.table_box {
  width: 500px;
}
.ntable {
  margin: 10px;
}
.table_box td {
  padding: 8px;
  border-bottom: 1px solid var(--color-dark-white);
  color : var(--color-dark-grey);
}
.table_time {
	color: var(--color-light-grey);
	font-size: 14px;
}


/* 회원가입 헤더 */

.shignupStep {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.shignupStep li {
  font-size: 13px;
}
.shignupStep_box {
  width: 200px;
  height: 50px;
  border: 1px solid var(--color-light-white);
  line-height: 4;
  padding: 0 8px;
  background-color: #f7f7f7;
}

.shignupStep_box_on {
  width: 200px;
  height: 50px;
  border: 1px solid var(--color-light-white);
  line-height: 4;
  padding: 0 8px;
  background-color: var(--color-dark-blue);
  color: #f7f7f7;
}

.myPage_subTitle {
  font-size: 24px;
  font-weight: 550;
}


/* 회원가입 폼 */

.form_box2 {
  margin: 0 auto;
  width: 800px;
  height: 100%;
  border: 2px solid var(--color-light-white);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_newBox_content2{
	display : flex ;
	 justify-content: center;
	 margin :  10px 10px;
}

.form_newBox {
  width: 730px;
  margin-left: 30px;
  display: flex;
  border-bottom: 1px solid var(--color-dark-white);
}
.form_newBox_title {
  width: 230px;
  height: 100px;
  text-align: left;
  line-height: 4;
  padding: 0 50px;
  color: var(--color-light-grey);
}
.form_newBox_content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px 30px;
}

.form_newBox_content input {
  width: 310px;
  height: 40px;
  border: 1.5px solid var(--color-dark-white);
}

.form_newBox_content span {
  margin-top: 10px;
  color: var(--color-light-grey);
  font-size: 14px;
}


/* 사업자? 일반? */
.select_tab2 {
  margin: 10px;
  width: 230px;
  height: 230px;

  border-radius: 200px;
  border: 2px solid var(--color-light-white);
  font-size: 26px;
  padding: 5px;
}

.select_tab2:hover {
  margin: 10px;
  width: 230px;
  height: 230px;
  background-color: var(--color-dark-blue);
  border-radius: 200px;
  border: 2px solid var(--color-light-white);
  color: var(--color-white);
  font-size: 26px;
  padding: 5px;
}
.select_btn_step {
  display: flex;
  justify-content: space-around;
}



/* input form */

